/* src/components/Aboutus.css */

.about-section {
  background: linear-gradient(135deg, #020c31, #081743);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #fff;
  
}

.about-content {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2.8rem;
  margin-bottom: 0px;
  display: inline-block;
  margin-top: 115px;
}



.about-description {
  font-size: 1.2rem;
  color: #ddd;
margin-top: 0px;
  line-height: 1.6;
  margin-bottom: 20px;

}

/* Mission & Vision */
.mission-vision {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.mini-card {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.mini-card h3 {
  color: #8a2be2;
  margin-bottom: 10px;
}

.mini-card p {
  color: #ddd;
  font-size: 1rem;
  margin-bottom: 8px;
}

/* Cards */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.info-card {
  background: #ffffff;
  color: #081743;
  border-radius: 25px;
  padding: 25px 20px;
  width: 250px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.info-card:hover {
  transform: translateY(-6px);
}

.info-card h3 {
  color: #8a2be2;
  margin-bottom: 10px;
}

.info-card hr {
  width: 50px;
  border: 2px solid #8a2be2;
  margin: 5px auto 15px;
  border-radius: 2px;
}

.info-card h5 {
  color: #005f99;
  margin-top: 10px;
  font-weight: bold;
}

.info-card p {
  color: #007bb5;
  font-size: 0.95rem;
  margin-top: 10px;
}

/* Circle */
.circle {
  width: 80px;
  height: 80px;
  background: #f0f8ff;
  border: 6px solid #052064;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  margin: 15px auto;
  color: #052064;
  transition: transform 0.3s;
}

/* Responsive */
@media (max-width: 768px) {
  .about-description {
    font-size: 1rem;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .info-card {
    width: 90%;
  }

  .mission-vision {
    flex-direction: column;
    align-items: center;
  }

  .mini-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .circle {
    width: 70px;
    height: 70px;
    font-size: 22px;
  }
}
